@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/lib/MyCss/Home.css" />
<body>



	<div id="main" style="display:flex;" class="main">

		<!-- Sidebar -->
		<div class="w3-sidebar w3-light-grey w3-bar-block" style="flex:1;">
			<h3 class="w3-bar-item">Thể Loại</h3>
			<ul>
				@foreach (var item in ((List<Project_PRN211_V2.Models.Genre>)ViewBag.listcate))
				{
					<li><a asp-controller="Home" asp-action="Index" asp-route-search_generid="@item.GenreId" class="w3-bar-item w3-button" style="text-decoration:none;">@item.Description</a></li>
				}
			</ul>
		</div>

		<!-- Page Content -->
		<div id="content" style="flex:8;">

			<div id="page_content">
				<h3 style="display:inline-block;">PageNum:</h3>
			</div>
			@{
				int num = 1;
			}
			@foreach (var item in ((List<Project_PRN211_V2.Models.Movie>)ViewBag.list))
			{
				<div id="@num" style="display:inline-block;" class="card">
					<a asp-controller="Home" asp-action="DetailMovie" asp-route-idmovie="@item.MovieId" class="w3-bar-item w3-button" style="text-decoration:none;">
						<img src='data:image/jpeg;base64, @item.Image' alt="Denim Jeans" style="width:300px;height:300px;">
					</a>
					<a asp-controller="Home" asp-action="DetailMovie" asp-route-idmovie="@item.MovieId" class="w3-bar-item w3-button" style="text-decoration:none;">
						<h1>@item.Title</h1>
					</a>
					<p class="price">Năm:@item.Year</p>
					<p>Loại:@item.Genre.Description</p>
					<p>
						@{
							double? point = 0;
							if (@item.Rates.Count > 0)
							{
								foreach (var item2 in @item.Rates)
								{
									point += item2.NumericRating;
								}
								point /= @item.Rates.Count;
							}
							else
							{
								point = 0;
							}
						}
						@if (@point == 0)
						{
						<p>Chưa có điểm đánh giá </p>
						}
						else
						{
						<p>
							Điểm:@point
						</p>
						}
					</p>
					<p><a asp-controller="Home" asp-action="RateMovie" asp-route-idmovie="@item.MovieId" style="text-decoration:none;"><button>Đánh Giá</button></a></p>
				</div>
				num++;
			}

		</div>

		<div id="chatbox" style="flex:2">
			@Html.Partial("ChatBox")
		</div>

	</div>

	@{
		List<Project_PRN211_V2.Models.Movie> list = ((List<Project_PRN211_V2.Models.Movie>)ViewBag.list);
		//Math
		//1 2 3 4 5
		//size =2
		//page= 1 index = 1 bo qua 0 phan tu lay 2 phan tu index = Index-1
		//page =2 index=1*page+1 bo qua 2 phan tu lay 2 phan tu index = Index-1
	}
	<script>
		var size = 3;
		var total_movie = @list.Count;
		var totalpage = total_movie / size;
		var totalpageplus = total_movie % size != 0 ? (totalpage + 1) : totalpage;

		var maxpage = totalpageplus;
		var current_page = 0;

		for (let i = 0; i < maxpage; i++) {
			const link = document.createElement('a');
			link.href = 'home/index?page=' + i;
			link.textContent = i;
			link.style.display = 'inline_block;'
			link.style.margin = '4px';
			link.id = 'page' + i

			link.onclick = function () {
				event.preventDefault();
				//document.getElementById('1').style.display = 'none'

				var item = 1;
				while (document.getElementById(item) != undefined) {
					console.log(document.getElementById(item))
					document.getElementById(item).style.display = 'none'
					//Check If in the list allow display
					current_page = i;
					for (let j = size * current_page + 1; j < (size * current_page + 1) + size; j++) {
						console.log('item: ' + j)
						if (document.getElementById(item).id == j) {
							document.getElementById(item).style.display = 'inline-block'
						}
					}
					//

					item++;
				}
			};
			const parent = document.getElementById('page_content');
			parent.appendChild(link);
		}


	</script>

	<script>
		@*//Web SOCKET AREA*@
		window.addEventListener("load", (event) => {
		console.log("page is fully loaded");
		let socket = new WebSocket("wss://" + location.host + "/send")

		socket.onopen = function(e) {
		console.log("[open] Connection established");
		console.log("Sending to server");
		socket.send("My name is John");
		};

		socket.onmessage = function(event) {
		console.log(`[message] Data received from server: ${event.data}`);
		};

		socket.onclose = function(event) {
		if (event.wasClean) {
		console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
		} else {
		// e.g. server process killed or network down
		// event.code is usually 1006 in this case
		console.log('[close] Connection died');
		}
		};

		socket.onerror = function(error) {
		console.log(`[error]`);
		};
		});


	</script>

</body>
</html>


