@model Project_PRN211_V2.Models.Movie
<h1>Movie Manager</h1>

@*table movie*@

@if (ViewBag.message != null)
{
	<h3>Error:</h3>
	@foreach (var item in (List<string>)ViewBag.message)
	{
		<p>@item</p>
	}
}

<table border="1">
	<thead>
		<tr>
	<td>MovieID</td>
	<td>Title</td>
	<td>Year</td>
	<td>Image</td>
	<td>Description</td>
	<td>Genre</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in ((List<Project_PRN211_V2.Models.Movie>)ViewBag.movie))
		{
			<tr>
				<td><input readonly asp-for="MovieId" form="movie_@item.MovieId" type="text" value="@item.MovieId" /></td>
				<td><input required asp-for="Title" form="movie_@item.MovieId" type="text" value="@item.Title" /></td>
				<td><input required asp-for="Year" form="movie_@item.MovieId" type="text" value="@item.Year" /></td>
				<td>
					<img src='data:image/jpeg;base64, @item.Image' alt="Denim Jeans" style="width:100px;height:100px;">
					<input hidden class="imge_@item.MovieId" asp-for="Image" form="movie_@item.MovieId" type="text" value="@item.Image" />
					<input id="imge_@item.MovieId" onchange="convertFileToBase64(this)" type="file" />
				</td>


				<td><input required asp-for="Description" form="movie_@item.MovieId" type="text" value="@item.Description" /></td>
				<td>
					<select asp-for="GenreId" form="movie_@item.MovieId" asp-items="@(ViewData["movie_genre_combobox"] as SelectList)">
						<option hidden selected value="@item.GenreId">@item.Genre.Description</option>
					</select>
				</td>

				<td>
					<input form="movie_@item.MovieId" type="submit" value="Update" />
					<a style="text-decoration:none;" asp-controller="admin" asp-action="movie_delete" asp-route-movieId="@item.MovieId">
						<input type="button" value="Delete" />
					</a>
				</td>
				<form id="movie_@item.MovieId" asp-controller="admin" asp-action="movie_update" method="post"></form>
			</tr>
		}
	</tbody>
</table>


<script>
	function convertFileToBase64(input) {
		var target = '';
		target = input.id;
		console.log(target);

		const file = input.files[0];
		const reader = new FileReader();
		reader.readAsDataURL(file);
		reader.onload = function () {
			const base64String = reader.result.split(",")[1];
			document.getElementsByClassName(target)[0].value = base64String
			console.log(document.getElementsByClassName(target)[0].value);
		};
	}
</script>